################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Android/com.alibaba/fastjson/1.2.68/FastJsonBinding/FastJsonBinding/obj
/Android/com.aliyun.api.gateway/sdk-core-android/1.2.2/SdkCoreAndroidBinding/SdkCoreAndroidBinding/obj
/Android/com.aliyun.iot.aep.sdk.external/securityguard/5.4.191.2020-02-26-exclude-x86/SecurityGuardBinding/SecurityGuardBinding/obj
/Android/com.aliyun.iot.aep.sdk/threadpool/0.0.3/ThreadPoolBinding/ThreadPoolBinding/ThreadPoolBinding/obj
/Android/com.aliyun.iot.aep.sdk/apiclient/0.1/ApiClientBinding/ApiClientBinding/obj
/.vs
/Android/com.aliyun.ams/AlicloudAndroidUtdidBinding/.vs/AlicloudAndroidUtdidBinding/v16
/Android/com.aliyun.ams/AlicloudAndroidUtdidBinding/AlicloudAndroidUtdidBinding/obj
/Android/com.aliyun.ams/AlicloudAndroidUtdidBinding/AlicloudAndroidUtdidBinding/bin/Debug
/Android/com.aliyun.alink.linksdk/ToolsBinding/.vs/ToolsBinding/v16
/Android/com.aliyun.alink.linksdk/ToolsBinding/ToolsBinding/bin/Debug
/Android/com.aliyun.alink.linksdk/ToolsBinding/ToolsBinding/obj
/Android/com.aliyun.alink.linksdk/ApiClientBizBinding/.vs/ApiClientBizBinding/v16
/Android/com.aliyun.alink.linksdk/ApiClientBizBinding/ApiClientBizBinding/bin/Debug
/Android/com.aliyun.alink.linksdk/ApiClientBizBinding/ApiClientBizBinding/obj
/Android/com.aliyun.iot.aep.sdk/RouterBinding/.vs/RouterBinding/v16
/Android/com.aliyun.iot.aep.sdk/RouterBinding/RouterBinding/obj
/Android/com.aliyun.iot.aep.sdk/RouterBinding/RouterBinding/bin/Debug
/Android/com.aliyun.iot.aep.component/RouterExternalBinding/.vs/RouterExternalBinding/v16
/Android/com.aliyun.iot.aep.component/RouterExternalBinding/RouterExternalBinding/bin/Debug
/Android/com.aliyun.iot.aep.component/RouterExternalBinding/RouterExternalBinding/obj
/Android/com.aliyun.iot.aep.sdk/UserTrackerBinding/.vs/UserTrackerBinding/v16
/Android/com.aliyun.iot.aep.sdk/UserTrackerBinding/UserTrackerBinding/bin/Debug
/Android/com.aliyun.iot.aep.sdk/UserTrackerBinding/UserTrackerBinding/obj
/Android/com.aliyun.alink.linksdk/api-client-biz/1.0.2/ApiClientBizBinding/.vs/ApiClientBizBinding/v16
/Android/com.aliyun.alink.linksdk/tools/1.3.5.1/ToolsBinding/.vs/ToolsBinding/v16
/Android/com.aliyun.ams/alicloud-android-utdid/1.1.5.3/AlicloudAndroidUtdidBinding/.vs/AlicloudAndroidUtdidBinding/v16
/Android/com.aliyun.iot.aep.component/router-external/0.1.4/RouterExternalBinding/.vs/RouterExternalBinding/v16
/Android/com.aliyun.iot.aep.sdk/router/0.0.7/RouterBinding/.vs/RouterBinding/v16
/Android/com.aliyun.iot.aep.sdk/user-tracker/0.0.2/UserTrackerBinding/.vs/UserTrackerBinding/v16
/Android/com.aliyun.iot.aep.component/bundlemanager/0.1.5.1/BundleManagerBinding/.vs/BundleManagerBinding/v16
/Android/com.aliyun.iot.aep.component/bundlemanager/0.1.5.1/BundleManagerBinding/BundleManagerBinding/bin/Debug
/Android/com.aliyun.iot.aep.component/bundlemanager/0.1.5.1/BundleManagerBinding/BundleManagerBinding/obj
/Android/com.aliyun.iot.aep.sdk/apiclient/0.1/ApiClientBinding/.vs/ApiClientBinding/v16
/Android/com.aliyun.iot.aep.sdk/apiclient/0.1/ApiClientBinding/ApiClientBinding/bin/Debug
/Android/com.aliyun.iot.aep.sdk.external/securityguard/5.4.191.2020-02-26-exclude-x86/SecurityGuardBinding/.vs/SecurityGuardBinding/v16
/Android/com.aliyun.alink.linksdk/api-client-biz/1.0.2/ApiClientBizBinding/ApiClientBizBinding/bin/Debug
/Android/com.aliyun.alink.linksdk/api-client-biz/1.0.2/ApiClientBizBinding/ApiClientBizBinding/obj
/Android/com.aliyun.iot.aep.component/router-external/0.1.4/RouterExternalBinding/RouterExternalBinding/bin/Debug
/Android/com.aliyun.iot.aep.component/router-external/0.1.4/RouterExternalBinding/RouterExternalBinding/obj
/Android/com.aliyun.alink.external/WidgetBinding/.vs/WidgetBinding/v16
/Android/com.aliyun.alink.external/WidgetBinding/WidgetBinding/bin/Debug
/Android/com.aliyun.alink.external/WidgetBinding/WidgetBinding/obj
/Android/com.aliyun.iot.aep.sdk/RnExternalBinding/.vs/RnExternalBinding/v16
/Android/com.aliyun.iot.aep.sdk/RnExternalBinding/RnExternalBinding/bin/Debug
/Android/com.aliyun.iot.aep.sdk/RnExternalBinding/RnExternalBinding/obj
/Android/com.aliyun.alink.linksdk/tools/1.3.5.1/ToolsBinding/ToolsBinding/obj
/Android/com.aliyun.ams/alicloud-android-utdid/1.1.5.3/AlicloudAndroidUtdidBinding/AlicloudAndroidUtdidBinding/obj/Debug
/Android/com.aliyun.iot.aep.sdk/user-tracker/0.0.2/UserTrackerBinding/UserTrackerBinding/obj
/Android/javax.inject/javax.inject/1/JavaxInjectBinding/.vs/JavaxInjectBinding/v16
/Android/javax.inject/javax.inject/1/JavaxInjectBinding/JavaxInjectBinding/bin/Debug
/Android/javax.inject/javax.inject/1/JavaxInjectBinding/JavaxInjectBinding/obj
/Android/com.facebook.fresco/fbcore/1.10.0/FbCoreBinding/.vs/FbCoreBinding/v16
/Android/com.facebook.fresco/fbcore/1.10.0/FbCoreBinding/FbCoreBinding/bin/Debug
/Android/com.facebook.fresco/fbcore/1.10.0/FbCoreBinding/FbCoreBinding/obj
/Android/com.facebook.fresco/imagepipeline/1.10.0/ImagePipelineBinding/.vs/ImagePipelineBinding/v16
/Android/com.facebook.fresco/imagepipeline/1.10.0/ImagePipelineBinding/ImagePipelineBinding/bin/Debug
/Android/com.facebook.fresco/imagepipeline/1.10.0/ImagePipelineBinding/ImagePipelineBinding/obj
/Android/com.facebook.fresco/imagepipeline-base/1.10.0/ImagepipelineBaseBinding/.vs/ImagepipelineBaseBinding/v16
/Android/com.facebook.fresco/imagepipeline-base/1.10.0/ImagepipelineBaseBinding/ImagepipelineBaseBinding/bin/Debug
/Android/com.facebook.fresco/imagepipeline-base/1.10.0/ImagepipelineBaseBinding/ImagepipelineBaseBinding/obj
/Android/com.facebook.infer.annotation/infer-annotation/0.11.2/InferAnnotationBinding/.vs/InferAnnotationBinding/v16
/Android/com.facebook.infer.annotation/infer-annotation/0.11.2/InferAnnotationBinding/InferAnnotationBinding/bin/Debug
/Android/com.facebook.infer.annotation/infer-annotation/0.11.2/InferAnnotationBinding/InferAnnotationBinding/obj
/Android/com.facebook.soloader/soloader/0.5.0/SoloaderBinding/.vs/SoloaderBinding/v16
/Android/com.facebook.soloader/soloader/0.5.0/SoloaderBinding/SoloaderBinding/bin/Debug
/Android/com.facebook.soloader/soloader/0.5.0/SoloaderBinding/SoloaderBinding/obj
/Android/com.facebook.soloader/soloader/0.6.0/SoloaderBinding/.vs/SoloaderBinding/v16
/Android/com.facebook.soloader/soloader/0.6.0/SoloaderBinding/SoloaderBinding/bin/Debug
/Android/com.facebook.soloader/soloader/0.6.0/SoloaderBinding/SoloaderBinding/obj
/Android/com.google.code.findbugs/jsr305/3.0.1/Jsr305Binding/.vs/Jsr305Binding/v16
/Android/com.google.code.findbugs/jsr305/3.0.1/Jsr305Binding/Jsr305Binding/bin/Debug
/Android/com.google.code.findbugs/jsr305/3.0.1/Jsr305Binding/Jsr305Binding/obj
/Android/com.parse.bolts/bolts-tasks/1.4.0/BoltsTasksBinding/.vs/BoltsTasksBinding/v16
/Android/com.parse.bolts/bolts-tasks/1.4.0/BoltsTasksBinding/BoltsTasksBinding/bin/Debug
/Android/com.parse.bolts/bolts-tasks/1.4.0/BoltsTasksBinding/BoltsTasksBinding/obj
/Android/com.aliyun.iot.aep.sdk/abus/0.0.1/ABusBinding/.vs/ABusBinding/v16
/Android/com.aliyun.iot.aep.sdk/abus/0.0.1/ABusBinding/ABusBinding/obj
/Android/com.aliyun.iot.aep.sdk/abus/0.0.1/ABusBinding/ABusBinding/bin
/Android/com.taobao.external/eventbus/1.0.2/EventBusBinding/.vs/EventBusBinding/v16
/Android/com.taobao.external/eventbus/1.0.2/EventBusBinding/EventBusBinding/obj
/Android/com.taobao.external/eventbus/1.0.2/EventBusBinding/EventBusBinding/bin
/Android/com.aliyun.iot.aep.sdk/sdk-framework/0.1.4.5/SdkFrameworkBinding/.vs/SdkFrameworkBinding/v16
/Android/com.aliyun.iot.aep.sdk/sdk-framework/0.1.4.5/SdkFrameworkBinding/SdkFrameworkBinding/obj
/Android/com.aliyun.iot.aep.sdk/sdk-framework/0.1.4.5/SdkFrameworkBinding/SdkFrameworkBinding/bin
/Android/com.aliyun.iot.link/uicomponent/0.1.0/UiComponentBinding/.vs/UiComponentBinding/v16
/Android/com.aliyun.iot.link/uicomponent/0.1.0/UiComponentBinding/UiComponentBinding/obj
/Android/com.aliyun.iot.link/uicomponent/0.1.0/UiComponentBinding/UiComponentBinding/bin
/Android/com.aliyun.dpa/oss-android-sdk/2.7.0/OssAndroidSdkBinding/.vs/OssAndroidSdkBinding/v16
/Android/com.aliyun.dpa/oss-android-sdk/2.7.0/OssAndroidSdkBinding/OssAndroidSdkBinding/obj
/Android/com.aliyun.dpa/oss-android-sdk/2.7.0/OssAndroidSdkBinding/OssAndroidSdkBinding/bin
/Android/com.aliyun.ams/alicloud-android-utdid/1.1.5.3/AlicloudAndroidUtdidBinding/.vs/AlicloudAndroidUtdidBinding/v16
/Android/com.aliyun.ams/alicloud-android-utdid/1.1.5.3/AlicloudAndroidUtdidBinding/AlicloudAndroidUtdidBinding/obj
/Android/com.aliyun.ams/alicloud-android-utdid/1.1.5.3/AlicloudAndroidUtdidBinding/AlicloudAndroidUtdidBinding/bin
/Android/com.aliyun.iot.aep.sdk/jsbridge-annotation/0.0.1/JsBridgeAnnotationBinding/JsBridgeAnnotationBinding/.vs/JsBridgeAnnotationBinding/v16
/Android/com.aliyun.iot.aep.sdk/jsbridge-annotation/0.0.1/JsBridgeAnnotationBinding/JsBridgeAnnotationBinding/obj
/Android/com.aliyun.iot.aep.sdk/jsbridge-annotation/0.0.1/JsBridgeAnnotationBinding/JsBridgeAnnotationBinding/bin
/Android/com.aliyun.alink.linksdk/opensource-paho/1.2.0.3/OpenSourcePahoBinding/OpenSourcePahoBinding/.vs/OpenSourcePahoBinding/v16
/Android/com.aliyun.alink.linksdk/opensource-paho/1.2.0.3/OpenSourcePahoBinding/OpenSourcePahoBinding/obj
/Android/com.aliyun.alink.linksdk/opensource-paho/1.2.0.3/OpenSourcePahoBinding/OpenSourcePahoBinding/bin
/Android/com.aliyun.iot.aep.sdk/iot-credential/0.0.2.8/IotCredentialBinding/IotCredentialBinding/.vs/IotCredentialBinding/v16
/Android/com.aliyun.iot.aep.sdk/iot-credential/0.0.2.8/IotCredentialBinding/IotCredentialBinding/obj
/Android/com.aliyun.iot.aep.sdk/iot-credential/0.0.2.8/IotCredentialBinding/IotCredentialBinding/bin
/Android/com.aliyun.alink.linksdk/public-channel-core/0.7.1/PublicChannelCoreBinding/PublicChannelCoreBinding/.vs/PublicChannelCoreBinding/v16
/Android/com.aliyun.alink.linksdk/public-channel-core/0.7.1/PublicChannelCoreBinding/PublicChannelCoreBinding/obj
/Android/com.aliyun.alink.linksdk/public-channel-core/0.7.1/PublicChannelCoreBinding/PublicChannelCoreBinding/bin
/Android/com.aliyun.alink.linksdk/android_alink_id2/1.1.3/AndroidAlinkId2Binding/AndroidAlinkId2Binding/.vs/AndroidAlinkId2Binding/v16
/Android/com.aliyun.alink.linksdk/android_alink_id2/1.1.3/AndroidAlinkId2Binding/AndroidAlinkId2Binding/obj
/Android/com.aliyun.alink.linksdk/android_alink_id2/1.1.3/AndroidAlinkId2Binding/AndroidAlinkId2Binding/bin
/Android/com.aliyun.alink.linksdk/public-channel-gateway/1.6.2/PublicChannelGatewayBinding/PublicChannelGatewayBinding/.vs/PublicChannelGatewayBinding/v16
/Android/com.aliyun.alink.linksdk/public-channel-gateway/1.6.2/PublicChannelGatewayBinding/PublicChannelGatewayBinding/obj
/Android/com.aliyun.alink.linksdk/public-channel-gateway/1.6.2/PublicChannelGatewayBinding/PublicChannelGatewayBinding/bin
/Android/com.aliyun.alink.linksdk/coap-sdk/1.7.1/CoapSdkBinding/CoapSdkBinding/.vs/CoapSdkBinding/v16
/Android/com.aliyun.alink.linksdk/coap-sdk/1.7.1/CoapSdkBinding/CoapSdkBinding/obj
/Android/com.aliyun.alink.linksdk/coap-sdk/1.7.1/CoapSdkBinding/CoapSdkBinding/bin
/Android/com.aliyun.alink.linksdk/android_alcs_lpbs/1.5.0/AndroidAlcsLpbsBinding/AndroidAlcsLpbsBinding/.vs/AndroidAlcsLpbsBinding/v16
/Android/com.aliyun.alink.linksdk/android_alcs_lpbs/1.5.0/AndroidAlcsLpbsBinding/AndroidAlcsLpbsBinding/obj
/Android/com.aliyun.alink.linksdk/android_alcs_lpbs/1.5.0/AndroidAlcsLpbsBinding/AndroidAlcsLpbsBinding/bin
/Android/com.google.code.gson/gson/2.8.1/GsonBinding/GsonBinding/.vs/GsonBinding/v16
/Android/com.google.code.gson/gson/2.8.1/GsonBinding/GsonBinding/obj
/Android/com.google.code.gson/gson/2.8.1/GsonBinding/GsonBinding/bin